#general
.DS_Store
thumbs.db
.svn
*~

# proj.android
proj.android/assets
proj.android/bin
proj.android/gen
proj.android/libs
proj.android/obj
proj.android/local.properties
gdb.setup
gdbserver

# proj.ios_mac
xcuserdata
*.xccheckout
/bin
cocos2d/build/build
proj.ios_mac/build

# visual studio
*.suo
*.user
*.userosscache
*.sln.docstates

.*_PList.Dir
